page-login {
  .bg-img{
    background-image: url('../assets/imgs/BG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .no-scroll .scroll-content{
    overflow: hidden;
  }
  .logo{
    display: block;
    margin: auto;
    width:50%;
    padding-top: 40%;
  }
  .item{
    background-color: rgba(255,255,255,0.0);
  }
  .list{
    position: absolute;
    right: 10%;
    left: 10%;
  }
  .btn-login{
    margin: auto;
    margin-top: 20px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
  }
}
